.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-display);
}

.body {
  display: flex;
  flex-direction: row;
  position: relative;
}

.contentWrapper {
  left: var(--sidebar-width);
  flex-grow: 1;
}

.content {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 24px 24px 100px 24px;
  position: relative;
}

.versionSwitcher {
  height: 18px;
  width: 346px;
}

/* TODO: these styles will be changing very soon, this is just to get us started */
.main {
  max-width: 804px;
  padding: 0 24px;
  /* padding-bottom: 50vh; */

  & h1:first-child {
    margin-bottom: 12px;
  }

  & h2 {
    margin-bottom: 12px;
    margin-top: 40px;
  }

  & img {
    max-width: 100%;
  }
}
